<h1>Pub-Hub</h1>
<p>The pub-crawl specialists.</p>

<div class="container">
 <!-- Inject the grid here -->
  <div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="pubs">
        <% @pubs.each do |pub| %>
          <h4><%= pub.name %></h4>
          <h4><%= pub.latitude %></h4>
          <h4><%= pub.longitude %></h4>
          <h4><%= pub.brand %></h4>
          <h4><%= pub.wheelchair %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
