<div class="position-relative">
  <div class="card-category card-large" >
    <%= video_tag "background-video-two.mp4", autoplay: true, muted: true, loop: true, class: "background-video-two" %>
  </div>
</div>
<div class="pub-crawl-container">
  <h1 class="pub-crawl-title"><%= @pub_crawl.name.capitalize %></h1>
  <div class="d-flex justify-content-between my-4">
    <div style="width:100%"><em><p class="pub-tag"><%= pluralize(@pub_crawl.pubs.size, 'Pub') %></p></em></div>
    <div class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any pubs yet!" if @pub_crawl.pubs.empty? %></em></small></div>
  </div>
  <div class="row my-2" style="margin: 8px">
    <% @pub_crawl.pubs.each do |pub| %>
      <% stop = Stop.find_by(pub_crawl: @pub_crawl, pub: pub) %>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-white card-has-bg click-col" style="background-image:url(<%= asset_path "tile_image_#{rand(5)}.jpg" %>);">
            <img class="card-img d-none" src="https://source.unsplash.com/600x900/?pub" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" herf="#"><%= pub.name%></a></h4>
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
